<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Categorias</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="showProdutos()"> <!--o For percorre uma lista de items para cada item. A diretiva *ngFor faz o componente ser repetido varias vezes,
    sendo que cada vez que for percorrido, pode ser acessado um elemento do item-->
    <!--O items esta declarado no controlador categorias.ts-->
      <ion-thumbnail item-start>
        <img src="{{bucketUrl}}/cat{{item.id}}.jpg">
      </ion-thumbnail>
      <h2> {{ item.nome }} </h2> <!--INTERPOLAÇÃO, INTERPOLA CONTEUDO DO HTML COM O DADO PROVENIENTE DO CONTROLADOR-->
    </button>
  </ion-list>
</ion-content>
